{% extends "lgmain.html" %} {% block title %}{% endblock %} {% block head %} {{ super() }} {% endblock %} {% block content %} {{ super() }}
<style>
    .rightfloatt {
        margin-left: 25%;
        margin-top: 1%;
    }
    
    .rightfloat.middle {
        width: 60%;
    }
    
    .rightfloat.side {
        width: 5%;
    }
    
    .right {
        margin-left: 75%;
        font-size: 20px;
        margin-right: 0%;
    }
    
    .left {
        margin-left: 0%;
        margin-right: 5%;
    }
    
    .avatar {
        vertical-align: middle;
        width: 50px;
        height: 50px;
        border-radius: 50%;
    }
    
    .whitespace {
        white-space: pre-wrap;
        font-size: 25px;
    }
    
    .containerr {
        width: 100%;
    }
    
    .leftpane {
        margin-left: 2%;
        margin-right: 2%;
        margin-top: 3%;
        width: 10%;
        height: 100%;
        float: left;
        border-collapse: collapse;
    }
    
    .middlepane {
        width: 50%;
        height: 100%;
        float: left;
        border-collapse: collapse;
        background-color: white
    }
    
    .rightpane {
        margin-left: 2%;
        margin-right: 10%;
        margin-top: 1%;
        width: 20%;
        height: 100%;
        background-color: aliceblue;
        position: relative;
        float: right;
        border-collapse: collapse;
    }
    
    .toppane {
        width: 100%;
        height: 100px;
        border-collapse: collapse;
    }
</style>

<body>

    {% with messages = get_flashed_messages(with_categories=true) %} {% if messages %}
    <ul class=flashes>
        {% for category, message in messages %}
        <li class="alert alert-{{ category }}">{{ message }}</li>
        {% endfor %}
    </ul>
    {% endif %} {% endwith %}

    <div class="" style="margin-left: 30%; margin-top:1%;">
        {% for page_num in posts.iter_pages(left_edge=1, right_edge=1,left_current=1,right_current=2) | reverse %} {% if page_num %} {% if posts.page == page_num%}
        <a class="btn btn-info mb-4" href="{{url_for('chatroom',page=page_num)}}">{{page_num}}</a> {% else %}
        <a class="btn btn-outline-info mb-4" href="{{url_for('chatroom',page=page_num)}}">{{page_num}}</a> {% endif %}{% else %} ... {% endif %}{% endfor %}
    </div>
    <!--  <div class="container">

        <div class="toppane">
            <h4 style="margin-left: 20%; color:brown;"> Welcome to BUIE Codding Community. Ask Your Query here and try solve others problems <button type="button " style="size: 50px;" class="btn btn-primary " onclick="window.location.href='/post/new' ">
                <h5>Try a question</h5></button></h4>

        </div>-->
    <div class="container" style="margin-top:30px">
        <div class="row">
            <div class="col-sm-8">
                {% for post in posts.items | reverse %} {% for user in users%} {% if post.user_id == user.id %}
                <div class="" style="background-color: aliceblue;">
                    <!--<img class="avatar" src="{{ url_for('static', filename='images/' + user.profile_image) }}">
                                <a href="https://mail.google.com/mail/u/1/#inbox?compose=new" target="_blank" style="color:rgb(42, 84, 161);font-size:25px;">Email:</a> <a style="font-size: 23px; color:rgb(34, 34, 68)">{{ user.email }}</a>
                                -->
                    <a class="card-link" style="color:rgb(2, 97, 65);" href="{{url_for('searchuser',user_id=user.id)}}">
                        <h4>{{ user.username }}</h4>
                    </a>

                    <h5 class="card-title">
                        <h4><i style='font-size:25px; color:crimson' class='fas'>&#xf101;</i><a class="article-title" style="color:rgb(29, 27, 26);" href="{{url_for('post',post_id=post.post_id)}}">{{ post.title }}</a></h4>
                        <!--</h5 class="card-text">
                                <p class="whitespace" style="color: rgb(2, 19, 51);">{{ post.content }}</p>-->
                    </h5>
                    <div class ""><small class="left" style="color: rgb(20, 17, 17);">{{ post.date_posted }}</small>
                        <!--<div class="right">
                                        <a href="{{url_for('post',post_id=post.post_id)}}">
                                            <button type="button" class="btn btn-success"><h6>Leave Your Answers</h6></button>
                                        </a>
                                    </div>-->
                    </div>
                </div>

                {% endif %} {% endfor %}{% endfor %}
            </div>

            <hr class="d-sm-none">

            <div class="col-sm-4">
                <div class="card border-primary mb-3" style="max-width: 100%;">
                    <div class="card-header">Header</div>
                    <div class="card-body text-primary">
                        <h5 class="card-title">Primary card title</h5>
                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                    </div>
                </div>
                <div class="card border-secondary mb-3" style="max-width: 100%;">
                    <div class="card-header">Header</div>
                    <div class="card-body text-secondary">
                        <h5 class="card-title">Secondary card title</h5>
                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                    </div>
                </div>
                <div class="card border-success mb-3" style="max-width: 100%;">
                    <div class="card-header">Header</div>
                    <div class="card-body text-success">
                        <h5 class="card-title">Success card title</h5>
                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                    </div>
                </div>
                <div class="card border-danger mb-3" style="max-width: 100%;">
                    <div class="card-header">Header</div>
                    <div class="card-body text-danger">
                        <h5 class="card-title">Danger card title</h5>
                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                    </div>
                </div>
                <div class="card border-warning mb-3" style="max-width: 100%;">
                    <div class="card-header">Header</div>
                    <div class="card-body text-warning">
                        <h5 class="card-title">Warning card title</h5>
                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                    </div>
                </div>
                <div class="card border-info mb-3" style="max-width: 100%;">
                    <div class="card-header">Header</div>
                    <div class="card-body text-info">
                        <h5 class="card-title">Info card title</h5>
                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                    </div>
                </div>
                <div class="card border-light mb-3" style="max-width: 100%;">
                    <div class="card-header">Header</div>
                    <div class="card-body">
                        <h5 class="card-title">Light card title</h5>
                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                    </div>
                </div>
                <div class="card border-dark mb-3" style="max-width: 100%;">
                    <div class="card-header">Header</div>
                    <div class="card-body text-dark">
                        <h5 class="card-title">Dark card title</h5>
                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="jumbotron text-center" style="margin-bottom:0">
        <p>Footer</p>
    </div>
    {% endblock %}
</body>