{% extends "lgmain.html" %} {% block title %}{% endblock %} {% block head %} {{ super() }} {% endblock %} {% block content %} {{ super() }}
<style>
    .rightfloatt {
        margin-left: 25%;
        margin-top: 1%;
    }
    
    .rightfloat.middle {
        width: 60%;
    }
    
    .rightfloat.side {
        width: 5%;
    }
    
    .right {
        margin-left: 75%;
        font-size: 20px;
        margin-right: 0%;
    }
    
    .left {
        margin-left: 0%;
        margin-right: 5%;
    }
    img {
        border-radius: 50%;
    }
    
    .avatar {
        vertical-align: middle;
        width: 50px;
        height: 50px;
        border-radius: 50%;
    }
    
    .whitespace {
        white-space: pre-wrap;
        font-size: 15px;
    }
    
    .containerr {
        width: 100%;
    }
    
    .leftpane {
        margin-left: 2%;
        margin-right: 2%;
        margin-top: 3%;
        width: 10%;
        height: 100%;
        float: left;
        border-collapse: collapse;
    }
    
    .middlepane {
        width: 50%;
        height: 100%;
        float: left;
        border-collapse: collapse;
        background-color: white
    }
    
    .rightpane {
        margin-left: 2%;
        margin-right: 10%;
        margin-top: 1%;
        width: 20%;
        height: 100%;
        background-color: aliceblue;
        position: relative;
        float: right;
        border-collapse: collapse;
    }
    
    .toppane {
        width: 100%;
        height: 100px;
        border-collapse: collapse;
    }
</style>

<body style="background-color: rgb(27, 25, 25);">

    {% with messages = get_flashed_messages(with_categories=true) %} {% if messages %}
    <ul class=flashes>
        {% for category, message in messages %}
        <li class="alert alert-{{ category }}">{{ message }}</li>
        {% endfor %}
    </ul>
    {% endif %} {% endwith %}

    <div class="" style="margin-left: 30%; margin-top:1%;">
        {% for page_num in posts.iter_pages(left_edge=1, right_edge=1,left_current=1,right_current=2) | reverse %} {% if page_num %} {% if posts.page == page_num%}
        <a class="btn btn-info mb-4" href="{{url_for('chatroom',page=page_num)}}">{{page_num}}</a> {% else %}
        <a class="btn btn-outline-info mb-4" href="{{url_for('chatroom',page=page_num)}}">{{page_num}}</a> {% endif %}{% else %} ... {% endif %}{% endfor %}
    </div>
    <!--  <div class="container">

        <div class="toppane">
            <h4 style="margin-left: 20%; color:brown;"> Welcome to BUIE Codding Community. Ask Your Query here and try solve others problems <button type="button " style="size: 50px;" class="btn btn-primary " onclick="window.location.href='/post/new' ">
                <h5>Try a question</h5></button></h4>

        </div>-->
    <div class="container" style="margin-top:30px">
        <div class="row">
            <div class="col-sm-8">
                {% for post in posts.items | reverse %} {% for user in users%} {% if post.user_id == user.id %}
                <div class="card mb-3" style="background-color: rgb(41, 49, 49); border-radius: 25px;">
                    <div class="card-body">
                        <img class="avatar" style="size:5px;" src="{{ url_for('static', filename='images/' + user.profile_image) }}">
                        <a class="card-link" style="color:rgb(255, 255, 255); font-size:20px;font-weight: 550; margin-top:3%" href="{{url_for('searchuser',user_id=user.id)}}">{{ user.username }}</a>
                        <h5 class="card-title">
                            <h4><i style='font-size:25px; color:crimson' class='fas'>&#xf101;</i><a class="article-title" style="color:rgb(255, 255, 255);" href="{{url_for('post',post_id=post.post_id)}}"> {{ post.title }}</a></h4>
                            <!--<p class="whitespace">{{ post.content}}</p>-->
                            <a href="{{url_for('post',post_id=post.post_id)}}" style="font-size:15px;color:rgb(30, 238, 134)">Read More &rarr;</a>
                        </h5>
                        <div class><small class="left" style="color: rgb(236, 51, 27);">{{ post.date_posted }}</small>
                        </div>
                    </div>
                </div>

                {% endif %} {% endfor %}{% endfor %}
            </div>

            <div class="col-sm-4">
                <div class="card border-primary mb-3" style="max-width: 100%; background-color: black; border-radius: 15px;">
                    <div class="card-header">Header</div>
                    <div class="card-body text-primary">
                        <h5 class="card-title">Primary card title</h5>
                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                    </div>
                </div>
                <div class="card border-secondary mb-3" style="max-width: 100%; background-color: black; border-radius: 15px;">
                    <div class="card-header">Header</div>
                    <div class="card-body text-secondary">
                        <h5 class="card-title">Secondary card title</h5>
                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                    </div>
                </div>
                <div class="card border-success mb-3" style="max-width: 100%; background-color: black; border-radius: 15px;">
                    <div class="card-header">Header</div>
                    <div class="card-body text-success">
                        <h5 class="card-title">Success card title</h5>
                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                    </div>
                </div>
        
            </div>
        </div>
    </div>
    <div class="footer " id="footer " style="background: rgb(53, 3, 63); margin-top:100%; ">
        <div class="container ">
            <div class="row ">
                <div class="col-lg-3 col-sm-2 col-xs-3 ">
                    <ul>
                        <li><a class="email " href="# " style="font-size: 15px; color: darkgray; "> Contract: csayan.py@gmail.com </a></li>
                        <br/>
                        <li><a class="email " href="https://www.linkedin.com/in/ayan-mondal-ba5a33183/?lipi=urn%3Ali%3Apage%3Ad_flagship3_search_srp_ top%3BhtgTt968R4iWVrUdY21LWQ%3D%3D&licu=urn%3Ali%3Acontrol%3Ad_flagship3_search_srp_top-search_srp_result&lici=Xd50zyxiTXCOB2xKbqP33g%3D%3D " target="_blank " style="font-size: 20px; color: darkgray; "> Linkdin </a></li>
                        <br/>

                        <li><a class="email " href="https://www.instagram.com/a.y.a.n_9929/" target="_blank " style="font-size: 20px; color: darkgray; "> Instagram </a></li>
                        <br/>

                        <a style="color: blueviolet;" target="_blank" href="https://www.buie.ac.in/">Bankura Unnayani Institute Of Engineering</a>


                    </ul>
                </div>
            </div>
        </div>
    </div>
    {% endblock %}
</body>