<!DOCTYPE html> {% extends "lgmain.html" %} {% block title %}{% endblock %} {% block head %} {{ super() }} {% endblock %} {% block content %} {{ super() }}
<style>
    .rightfloat {
        width: 55%;
        height: 50;
        margin-left: 25%;
    }
</style>

<body>
    {% with messages = get_flashed_messages(with_categories=true) %} {% if messages %}
    <ul class=flashes>
        {% for category, message in messages %}
        <li class="{{ category }}">{{ message }}</li>
        {% endfor %} {% endif %} {% endwith %}
    </ul>
    <div class="rightfloat">
        <h1>Ask Your Query !</h1>
        <form action="{{ url_for('new_post')}}" method="POST">
            <div>
                {{ form.title(class='form-control',placeholder='Title', style=" font-size:30px; height:100px")}}
                <ul>
                    {% for error in form.title.errors %}
                    <li>{{error}}</li>
                    {% endfor %}
                </ul>
            </div>

            <div>
                {{ form.content(class='form-control',placeholder='Description', style=" font-size:30px; height:300px")}}
                <ul>
                    {% for error in form.content.errors %}
                    <li>{{error}}</li>
                    {% endfor %}
                </ul>
            </div>
            <div>
                <input class="w3-button w3-block w3-green" style="font-size: 30px;" type="submit" value="Post my query">
            </div>
        </form>
    </div>
</body>
{% endblock %}