<!DOCTYPE html>

<head>
    {% block head %}
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>{% block title%}{% endblock %}BUIE Chatweb</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <link rel='stylesheet' type='text/css' media='screen' href='main.css'>
    <link rel="icon" href="https://img.icons8.com/cute-clipart/64/000000/forward-message.png">
    <script src='main.js'></script>
    {% endblock %}

</head>
<style>
    .navbar-brand {
        font-size: 30px;
    }
    
    html,
    body,
    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
        font-family: "Comic Sans MS", cursive, sans-serif;
    }
</style>

<body>
    {% block content %}
    <header>
        <nav class="navbar navbar-expand-md navbar-light bg-dark" id="navbar">
            <a class="navbar-brand" style="color: rgb(156, 223, 12)" href="/">
                <img src="https://img.icons8.com/cute-clipart/64/000000/chat-message-sent.png" width="45" height="=40" class="d-inline-block align-top" style="color:   ghostwhite" alt=""> BUIE Ninja
            </a>

            <!--<button type="button" style="margin-right: 5px" class="btn btn-info">About Us</button>-->

            <!--<ul class="nav navbar-nav center-nav">
                    <form class="form-inline">
                        <input class="form-control mr-sm-2" type="search" placeholder="Search on buie overflow..." aria-label="Search" size="70px">
                        <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
                    </form>
                </ul>-->

            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item active">
                        <a class="nav-link" style="color: white" href="#">Home <span class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" style="color: white" href="#">Link</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" style="color: white" href="#">user</a>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" style="color: white" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                Dropdown
                                </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <a class="dropdown-item" href="#">Action</a>
                            <a class="dropdown-item" href="#">Another action</a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item" href="#">Something else here</a>
                        </div>
                    </li>
                    <button type="button" style="margin-right: 10px" class="btn btn-primary" onclick="window.location.href='/signup'">Join this community</button>
                </ul>
        </nav>
        <!--{% with message = get_flashed_messages(with_categories=true)%} {% if messages%} ('category','message') Category:{{ message[0][0] }} {{ messages[0][1] }} {% endif %} {% endwith %}-->
        {% with messages = get_flashed_messages(with_categories=true) %} {% if messages %}
        <ul class=flashes>
            {% for category, message in messages %}
            <li class="alert alert-{{ category }}">{{ message }}</li>
            {% endfor %}
        </ul>
        {% endif %} {% endwith %}
    </header>

    {% endblock %}
</body>