<!DOCTYPE html> {% extends "lgmain.html" %} {% block title %}{% endblock %} {% block head %} {{ super() }} {% endblock %} {% block content %} {{ super() }}
<style>
    .rightfloat {
        margin-left: 0%;
    }
    
    .right {
        margin-left: 80%;
    }
    
    .left {
        margin-left: 10%;
        margin-right: 5%;
    }
    
    .avatar {
        vertical-align: middle;
        width: 50px;
        height: 50px;
        border-radius: 50%;
    }
    
    .whitespace {
        white-space: pre-wrap;
    }
</style>

<body>
    {% for user in users %} {% if user.id == post.user_id %}
    <div class="rightfloat">
        <div class="w3-container" style="width: 100%;">
            <div class="w3-panel w3-card">
                <img class="avatar" src="{{ url_for('static', filename='images/' + user.profile_image) }}">
                <a href="https://mail.google.com/mail/u/1/#inbox?compose=new" target="_blank" style="color:rgb(42, 84, 161);">Email:</a> <a>{{ user.email }}</a>
                <h4 style="color:rgb(2, 97, 65);">{{ user.username }} </h4>

                <h5 class="card-title">
                    <h4><a class="article-title" style="color:rgb(230, 113, 18);">{{ post.title }}</a></h4>
                </h5 class="card-text">
                <p class="whitespace" style="color: rgb(42, 84, 161);">{{ post.content }}</p>
                </h5>
                <div class="right">
                    <a href="#" class="card-link">Card link</a>
                    <a href="#" class="card-link">Another link</a>
                    <small class="left" style="color: rgb(219, 42, 26);">{{ post.date_posted }}</small>
                </div>
            </div>
        </div>
    </div>
    {% endif %} {% endfor %} {% endblock %}
</body>