<!DOCTYPE html> {% extends "main.html" %} {% block title %}{% endblock %} {% block head %} {{ super() }} {% endblock %} {% block content %} {{ super() }}

<body>
    <h1>signnup</h1>
    <form action="{{url_for('singup')}}" , method="POST">
        <div>
            {{ form.username(class='form-control',placeholder='username', autocomplete='off',autofocus=true)}}
            <ul>
                {% for error in form.username.errors %}
                <li>{{error}}</li>
                {% endfor %}
            </ul>
        </div>

        <div>
            {{ form.password(class='form-control',placeholder='password')}}
            <ul>
                {% for error in form.password.errors %}
                <li>{{error}}</li>
                {% endfor %}
            </ul>
        </div>
        <div>
            {{ form.confirm_pswd(class='form-control',placeholder='Retype-password')}}
            <ul>
                {% for error in form.confirm_pswd.errors %}
                <li>{{error}}</li>
                {% endfor %}
            </ul>
        </div>

        <div>
            {{ form.submit_botton(class='form-control',placeholder="Submit")}}
        </div>

        {{ form.csrf_token }}

    </form>
    <div>
        <a href="/login">have a account</a>
    </div>
</body>
{% endblock %}